{% extends "base_layout.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="columns is-centered">
            <div class="column is-6">
                <div class="notification">
                    <p class="content has-text-dark is-size-4 has-text-centered">Вы действительно хотите удалить пост "{{article.title}}"?</p>
                    <div class="has-text-centered">
                        <button type="submit" class="button is-primary">Подтвердить</button>
                        <a href="{% url 'articles:article_detail' article.slug %}" class="button is-danger">Отмена</a>
                    </div>    
                </div>        
            </div>
        </div>
        
    </form>
{% endblock %}